<div ui-content-for="title">
  <span>Combine Random Foods</span>
</div>

<div class="scrollable">
<div class="scrollable-content">
  
  <div class="container-fluid section section-break">      
      <div class="panel panel-default flappgrid" ng-repeat="fd in fdx" >
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <a class='btn' ng-click="fd.opened = !fd.opened">
              <i class="fa fa-ellipsis-v"></i> 
            </a>
            <ul class="dropdown-menu" role="menu" ui-show="fd.opened">
              <li ng-repeat="mod in mods"><a href="" class="capitalize" ng-click="fd.mod_id=mod.id; fd.opened=false; fd.toggled=true;">{{mod.name}}</a></li>
            </ul>
          </div>
          <h3 class="panel-title capitalize" ng-class="{'bluish':fd.toggled}"><span>{{getMod(fd.mod_id)}}</span>  {{fd.name}}</h3>
        </div>
        <div class="panel-body capitalize">
            <div class="form-group">
              <ui-switch ng-model="fd.toggled"></ui-switch>
            </div>
        </div>
      </div>
      <br style="clear: both;">
  </div>
  
  <div class="container-fluid section section-break">      
      <div class="form-group">
        <a href="" class="btn btn-primary" ng-click="addSelection()" popover="I appeared on mouse enter!" popover-trigger="mouseenter">Add Selected Combo</a>
      </div>     
      <div class="form-group">        
        <ul class="dropdown-menu" role="menu" style="position: relative;z-index: 0">
          <li ng-repeat="store in stores"><a href="" class="capitalize">{{store.name}}</a></li>
        </ul>
      </div>
  </div>
  
</div>
</div>

<div ui-content-for="modals">
  <div ng-include="'addmodal.html'"></div>
</div>